.add-button {
  background: black;
  border: none;
  padding: 0 !important;

  &:hover, &:focus, &:active {
    background: grey;
  }

  &--expression {
    width: 80px !important;
    height: 80px !important;
    min-width: 80px !important;
  }

  &--expression-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}