.col {
  height: 100%;

  &--settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &--logo {
    display: flex;
    align-items: center;
  }

  &--search-bar {
    display: flex;
    align-items: center;
  }
}