.layout {
  max-height: 100vh;
  min-height: 100vh;
  background-color: transparent;
  min-width: 100vw;
  max-width: 100vw;
}

.layout__container {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
}

.layout__main {
  background-color: transparent;
}